@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



<TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary"
            OnClick="@SayHelloHandler">Say Hello</TelerikButton>

<p>@HelloString</p>

@code {
    private MarkupString HelloString { get; set; }

    private void SayHelloHandler()
    {
        string msg = $"Hello from <strong>Telerik UI for Blazor</strong> at {DateTime.Now.ToString("HH:mm:ss")}!" +
            "<br /> Now you can use C# to write front-end!";

        HelloString = new MarkupString(msg);
    }
}

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
